button {
    margin: 20px;
}

#form-box {
    margin-left: 40%;
    width: 50%;
}

#searchAdd {
    float: right;
}

.gif-display {
    float: left;
    margin: 15px;
}

#moreGifs {
    width: auto;    
}

#moreGifs {
    background-color: #522B47;
    color: #FBF5F3;
}

.search-term {
    background-color: #8DAA9D;
}

#searchAdd {
    background-color: #7B0828;
    color: #FBF5F3;
}
